<template>
  <div class="q-pa-md absolute-center">
    <div class="q-gutter-y-md">
      <q-card>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator>
          <q-tab name="login" label="Авторизация" />
          <q-tab name="signup" label="Регистрация" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="login">
            <login-register :tab="tab"/>
          </q-tab-panel>

          <q-tab-panel name="signup">
            <login-register :tab="tab" />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      tab: 'login'
    }
  },
  components: {
    'login-register': require('components/LoginRegister').default
  }
}
</script>
