<template>
  <q-page>
    <div class="flex q-pa-md">
      <q-list
        class="full-width"
        separator>
        <q-item
          v-for="user in users"
          :key="user.id"
          class="q-my-sm"
          clickable
          v-ripple>
          <q-item-section>
            <q-item-label>{{ user.username }}</q-item-label>
            <q-item-label caption lines="1">{{ user.email }}</q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-badge>
              {{ user.role }}
            </q-badge>
          </q-item-section>
        </q-item>
        <q-separator />
      </q-list>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState([
      'isUserLoggedIn',
      'user'
    ]),
    /* eslint-disable-next-line */
    users () {
      if (this.isUserLoggedIn) {
        if (this.user.role === 'admin') {
          return this.$store.getters.users
        } else {
          const user = this.$store.getters.user
          return { user }
        }
      }
    }
  }
}
</script>
