<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title class="absolute-center">
          {{ title }}
        </q-toolbar-title>
        <q-btn
          class="absolute-right q-mr-md"
          v-if="$store.state.isUserLoggedIn"
          @click="logout"
          icon="exit_to_app"
          flat
          dense
          no-caps
          label="Выйти">
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  methods: {
    openURL,
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$store.dispatch('setRefreshToken', null)
      this.$store.dispatch('setTokenExpDate', null)
      this.$router.push('/login')
    }
  },
  computed: {
    /* eslint-disable-next-line */
    title () {
      const currentPath = this.$route.fullPath
      if (currentPath === '/users') return 'Пользователи'
    }
  },
  async mounted () {
    if (this.$store.state.isUserLoggedIn) {
      this.$router.push('/users')
    } else if (!this.$store.state.isUserLoggedIn && this.$route.fullPath !== '/login') {
      this.$router.push('/login')
    }
  }
}
</script>
