<template>
  <q-form
    class="q-pa-md"
    @submit="submitForm">
    <q-input
      v-model="payload.username"
      class="q-mb-md"
      label="Имя">
      <template v-slot:prepend>
        <q-icon name="perm_identity" />
      </template>
    </q-input>
    <q-input
      v-model="payload.password"
      class="q-mb-md"
      label="Пароль"
      :type="isPwd ? 'password' : 'text'">
      <template v-slot:prepend>
        <q-icon name="lock" />
      </template>
      <template v-slot:append>
        <q-icon
          :name="isPwd ? 'visibility_off' : 'visibility'"
          class="cursor-pointer"
          @click="isPwd = !isPwd"/>
      </template>
    </q-input>
    <q-select
      v-if="tab == 'signup'"
      class="q-mb-md"
      v-model="payload.role"
      :options="options"
      label="Роль пользователя" />
    <div class="row justify-center">
      <q-btn
        color="primary"
        :label="title"
        type="submit" />
    </div>
  </q-form>
</template>

<script>
import AuthenticationService from '../services/AuthenticationService'
import { mapState } from 'vuex'

export default {
  props: ['tab'],
  data () {
    return {
      isPwd: true,
      payload: {
        username: '',
        password: '',
        role: ''
      },
      options: [
        'user',
        'admin'
      ]
    }
  },
  computed: {
    ...mapState([
      'isUserLoggedIn',
      'user'
    ]),
    /* eslint-disable-next-line */
    title () {
      if (this.tab === 'login') return 'Войти'
      if (this.tab === 'signup') return 'Зарегистрироваться'
    }
  },
  methods: {
    async submitForm () {
      if (this.payload.username || this.payload.password !== '') {
        if (this.tab === 'login') {
          await AuthenticationService.login(this.payload)
          if (this.$store.state.user) {
            this.$router.push('/users')
          }
        } else {
          if (this.payload.role !== '') {
            await AuthenticationService.signup(this.payload)
            this.$router.push('/users')
          }
        }
      }
    }
  }
}
</script>
